**Tasks to Perform**

Task-1: Create a pandas DataFrame using the employee data provided below

This step creates a Pandas DataFrame using the employee data provided in the question.

In [16]:
import pandas as pd
data = {
    "EmployeeID": [201,202,203,204,205,206,207,208,209,210],
    "Name": ["Sarah","Michael","Jennifer","David","Lisa","James","Emma","Robert","Sophia","William"],
    "Department": ["Engineering","Sales","Marketing","Engineering","HR","Sales","Engineering","Marketing","Sales","HR"],
    "Salary": [85000,62000,71000,92000,58000,68000,78000,75000,65000,60000],
    "Performance Score": [4,3,5,5,4,4,3,4,5,3],
    "Years of Service": [5,3,7,8,4,6,2,5,4,3]
}
df = pd.DataFrame(data)
df

,EmployeeID,Name,Department,Salary,Performance Score,Years of Service
0,201,Sarah,Engineering,85000,4,5
1,202,Michael,Sales,62000,3,3
2,203,Jennifer,Marketing,71000,5,7
3,204,David,Engineering,92000,5,8
4,205,Lisa,HR,58000,4,4
5,206,James,Sales,68000,4,6
6,207,Emma,Engineering,78000,3,2
7,208,Robert,Marketing,75000,4,5
8,209,Sophia,Sales,65000,5,4
9,210,William,HR,60000,3,3

Task-2: Select and display only the 'Name', 'Department', and 'Salary' columns

This step selects and displays only the Name, Department, and Salary columns from the DataFrame.

In [17]:
df_filtered = df[["Name", "Department", "Salary"]]
df_filtered

       Name   Department  Salary
0     Sarah  Engineering   85000
1   Michael        Sales   62000
2  Jennifer    Marketing   71000
3     David  Engineering   92000
4      Lisa           HR   58000
5     James        Sales   68000
6      Emma  Engineering   78000
7    Robert    Marketing   75000
8    Sophia        Sales   65000
9   William           HR   60000

Task-3: Use iloc to display the employee at row position 5

This step uses iloc to display the employee at row position 5.

In [18]:
employee_row_5 = df.iloc[[5]]
employee_row_5

   EmployeeID   Name Department  Salary  Performance Score  Years of Service
5         206  James      Sales   68000                  4                 6

Task-4: Use loc to display the employee with EmployeeID 208

This step uses loc to display the employee with EmployeeID 208.

In [19]:
employee_id_208 = df.loc[df.EmployeeID == 208]
employee_id_208

   EmployeeID    Name Department  Salary  Performance Score  Years of Service
7         208  Robert  Marketing   75000                  4                 5

Task-5: Filter and display all employees from the 'Engineering' department

This step filters and displays all employees who belong to the Engineering department.

In [20]:
engineering_employees = df[df.Department == "Engineering"]
engineering_employees

   EmployeeID   Name   Department  Salary  Performance Score  Years of Service
0         201  Sarah  Engineering   85000                  4                 5
3         204  David  Engineering   92000                  5                 8
6         207   Emma  Engineering   78000                  3                 2

Task-6: Filter and display all employees with Salary greater than 70000

This step filters and displays all employees with a salary greater than 70000.

In [21]:
high_salary_employees = df[df.Salary > 70000]
high_salary_employees

,EmployeeID,Name,Department,Salary,Performance Score,Years of Service
0,201,Sarah,Engineering,85000,4,5
2,203,Jennifer,Marketing,71000,5,7
3,204,David,Engineering,92000,5,8
6,207,Emma,Engineering,78000,3,2
7,208,Robert,Marketing,75000,4,5

Task-7: Filter and display employees from 'Sales' department with Performance Score >= 4

This step filters and displays employees from the Sales department with a Performance Score greater than or equal to 4.

In [22]:
sales_high_performance = df[(df.Department == "Sales") & (df["Performance Score"] >= 4)]
sales_high_performance

   EmployeeID    Name Department  Salary  Performance Score  Years of Service
5         206   James      Sales   68000                  4                 6
8         209  Sophia      Sales   65000                  5                 4

Task-8: Sort the entire DataFrame by Salary in descending order and display the top 3 highest-paid employees

This step sorts the DataFrame by salary in descending order and displays the top 3 highest-paid employees.

In [23]:
top_paid_employees = df.sort_values(by="Salary", ascending=False).head(3)
top_paid_employees

   EmployeeID   Name   Department  Salary  Performance Score  Years of Service
3         204  David  Engineering   92000                  5                 8
0         201  Sarah  Engineering   85000                  4                 5
6         207   Emma  Engineering   78000                  3                 2

Task-9: Sort by Department (ascending) and then by Salary (descending) within each department

This step sorts employees by Department in ascending order and by Salary in descending order within each department.

In [24]:
sorted_employees = df.sort_values(by=["Department", "Salary"], ascending=[True, False])
sorted_employees

,EmployeeID,Name,Department,Salary,Performance Score,Years of Service
3,204,David,Engineering,92000,5,8
0,201,Sarah,Engineering,85000,4,5
6,207,Emma,Engineering,78000,3,2
9,210,William,HR,60000,3,3
4,205,Lisa,HR,58000,4,4
7,208,Robert,Marketing,75000,4,5
2,203,Jennifer,Marketing,71000,5,7
5,206,James,Sales,68000,4,6
8,209,Sophia,Sales,65000,5,4
1,202,Michael,Sales,62000,3,3